/* Page content */
*{
  box-sizing: border-box;
}
body, html{

  font-family: 'Amiri', serif;
  height: 100%;
  margin: 0;
}

p {
  font-size: 1.5rem;
  padding: 0 60px;
}

h1 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-weight: bold;
  display: inline;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0rem;
}

h3 {
  font-weight: bold;
  display: inline;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0rem 4rem;
}



.container2 {
  margin: 3rem;
}

.container2 h1{
  text-align: left;
  display: inline-block;
  position: relative;
}



.container2 h2{
  display: inline-block;
  position: relative;
}



.container2 p{
  display: inline-block;
  position: relative;
  transition: 1s;
  opacity: 0;
}

.container2 p[data-scroll="in"]{
  transition-delay: : 0.5s;
  opacity: 1;
}


.container2 ul{
  transition: 0.5s;
  opacity: 0;
}

.container2 ul[data-scroll="in"]{
  transition-delay:0.5s;
  opacity: 1;
}
/*CSS TEXT CONTAINERS */
/*Main Header Text Font*/
.title{
  font-family: 'Nothing You Could Do', cursive;
  font-size: 3rem;
}



/* profile pic image */

.bg1{
  background-image: url(../img/sea.jpg);
  opacity: 0.9;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  /* Full height */
  margin-bottom:0px;
  height:100%;
  width:100%;
}


.lead{
  font-size: 2rem;
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
}


.centered {
  position: relative;
  text-align: center;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
  color:#ffffff;
  max-width: 100%;
  margin-right:-.3em;

}

.centered p{
  font-family: 'Monda', sans-serif;
  letter-spacing: 0.3em;
}

.bordered{
    display: inline;
    border-color:#ffffff;
    border-style: solid;
    border-width: 3px;
    font-size: 3rem;
    max-width: 100%;
    padding: 0px;

}

a{
  text-decoration: none;
  color: black;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav li{
  display: inline-block;
  margin: 1rem;
}

nav a{
  font-size: 1.5rem;
  color:#000000;
  text-decoration: none;
}

nav a:hover{
  color:#9e9e9e;
}

@media screen and (max-width: 900px) {

  .container2 p {
    font-size: 1rem;
  }

  .container2 {
    margin: 2rem;
  }


/* nav li{
  display: inline-flex;
} */

}

@media screen and (max-width: 768px){
  p{
    padding: 0px;
  }
  .bordered{
    font-size:3rem;
    font-weight: bold;
    border-width: 0px;
  }
  .lead{
    font-size: 1.5rem;
  }

  .work_experience ul{
    list-style: none;
    padding-left: 0;
  }

  .work_experience h3{
    margin: auto;
  }

  .education ul{
    list-style: none;
    padding-left: 0;
  }

  .education h3{
    margin: auto;
  }

  .container2{
    max-width: 90%;
    margin: auto 1rem;
  }

  .title{
    font-size: 3rem;
  }

  .introduction{
    font-size: 60%;
  }

  .bg1 {
    padding:0;
    text-align: center;
  }
}

@media screen and (max-width: 400px){
  .bordered{
    font-size: 2rem;
  }
  nav a{
    margin: auto;
    font-size: 1rem;
  }

  nav a:hover{
    color:#9e9e9e;
  }

  .lead{
    font-size: 1rem;
  }

  .title{
    font-size: 2rem;
  }
  .introduction{
    width: 100%
  }


}
