/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */


/* ============================================= */
/* progress bar */
*{
  box-sizing: border-box;
}

body, html{
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0;
}

h1,p,h2,h3 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

h3 {
  font-weight: bold;
  display: inline;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0rem 4rem;
}



/*CSS TEXT CONTAINERS */


/* Quote #1 for about me */

/*Main Header Text Font*/
.title{
  font-family: 'Nothing You Could Do', cursive;
  font-size: 3rem;
}

.lead{
  font-size: 2rem;
  font-family: 'Share Tech Mono', monospace;
}

/* Text Centered in Background */
.centered {
  color:#ffffff;
  width: 100%;
  margin-right:-.3em;

}

.centered p{
  font-family: 'Monda', sans-serif;
  letter-spacing: 0.3em;
}

.bordered{
    display: inline;
    border-color:#ffffff;
    border-style: solid;
    border-width: 3px;
    font-size: 3rem;
    max-width: 100%;
    padding: 0px;
}

/* profile pic image */



.container2 {
  height: 100%;
  width: 100%;
  margin:auto;
  display: flex;
  align-items: center;

}

.bg1 {
  position: absolute;
  background-image: url(../img/Me.jpg);
  opacity: 0.9;
  background-position:center;
  background-size:cover;
  background-attachment:fixed;
  /* Full height */
  height: 100%;
}


a{
  text-decoration: none;
  color: black;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav li{
  display: inline-block;
  margin: 1rem;
}

nav a{
  font-size: 1.5rem;
  color:#ffffff;
  text-decoration: none;
}

nav a:hover{
  color:#9e9e9e;
}

@media screen and (max-width: 900px) {


}

@media screen and (max-width: 768px){
  .bg1{
    background-image: url(../img/Me1.jpg);
  }

  .bordered{
    font-size:3rem;
  }
  .lead{
    font-size: 1.5rem;
  }

  .title{
    font-size: 3rem;
  }
}

@media screen and (max-width: 400px){
  .bordered{
    font-size: 2rem;
  }
  nav a{
    margin: auto;
    font-size: 1rem;
  }

  nav a:hover{
    color:#9e9e9e;
  }

  .lead{
    font-size: 1rem;
  }

  .title{
    font-size: 2rem;
  }

}


/* Progress Bar */
